extends layout

block content
  .page-container
    h2.page-title Language Categories

    if categories && categories.length
      each category in categories
        .info-card
          h3= category.Category_Name
          p= category.Description

          if category.languages && category.languages.length
            ul
              each lang in category.languages
                li= lang
          else
            p No languages available in this category
    else
      p No categories found.