html
    head
        title= title
    body
        header
            nav
                a(href="/") Home
                a(href="/users") Users
                a(href="/languages") Languages
                a(href="/categories") Categories
                a(href="/platform") About
                if currentUser
                    span Hello #{currentUser.name || currentUser.email}
                    a(href="/logout") Logout
                else
                    a(href="/login") Login
                    a(href="/signup") Sign Up
        block content 